* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: #dbdbdb;
}

.listaInt {
    display: flex;
    list-style: none;
    gap: 20px;
    padding: 20px;
}

.menu {
    display: flex;
    background-color: white;
    height: 70px;
    align-items: center;
}

.cinza {
    color: #dbdbdb;
}

.main {
    background-color: white;
    width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 50px 20px;
}
.cont {
    text-align: left;
}

select {
    height: 25px;
    border: 1px solid #dbdbdb;
    padding-left: 5px;
}

input {
    margin-top: 20px;
    height: 23px;
    border: 1px solid #dbdbdb;
}

.tipo {
    width: 250px;
    padding-left: 5px;
}

button {
    background-color: rgba(0, 0, 0, 0.5);
    border: none;
    color: white;
    padding: 4px;
    border-radius: 5px;
}

.dia {
    padding-left: 5px;
}

.desc {
    width: 400px;
    padding-left: 10px;
    margin-top: -20px;
}