body {
    background-color: #dbdbdb;
}

.calculadora {
    background-color: rgb(0, 0, 0);
    margin: auto;
    padding: 5px;
    box-shadow: 1px 1px 3px 1px rgba(24, 104, 0, 0.8);
}
button {
    height: 50px;
    width: 50px;
    background-color: rgb(0, 65, 65);
    color: white;
    border: none;
}
button:hover {
    background-color: rgb(0, 91, 91);
}
.display {
    border: 1px solid #dbdbdb;
    height: 40px;
    width: 228px;
    margin: auto;
    background-color: rgb(0, 0, 0);
    margin-top: 150px;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 15pt;
}