nav {
    background-color: rgb(0, 0, 37);
    border-bottom: 1px solid rgb(84, 0, 140);
}
h4 {
    color: #dbdbdb;
    padding: 10px;
}
ul {
    margin-left: 370px;
}

.link-menu {
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.link-menu:hover {
    color: rgb(66, 34, 87);
    transition: 1s;
    font-size: 15pt;
}
body {
    background: linear-gradient(to right, rgb(0, 0, 212), black);
}

.Prpage {
    position: absolute;
    color: #dbdbdb;
    top: 15px;
    font-family: sans-serif;
    opacity: 0.4;
    font-size: 10pt;
}

#carrosel {
    width: 700px;
    height: 400px;
    background-color: black;
}

.main {
    width: 500px;
    height: 300px;
    margin-left: 150px;
    margin-top: 60px;
}

#logo {
    position: relative;
    top: -3px;
    margin-left: 20px;
}

.legend {
    position: absolute;
    right: 10px;
    top: 150px;
    width: 380px;
    font-family: sans-serif;
}

.falaCeo {
    font-style: italic;
    color: white;
}

.fontes {
    color: #dbdbdb;
}

.numerada {
    color: white;
}

.rodape {
    margin-top: 200px;
    text-align: center;
    color: white;
    border-top: 1px solid rgb(66, 34, 87);
}

.carousel-inner:hover {
    opacity: 0.4;
    transition: 1s;
}

form {
    background-color: white;
    width: 600px;
    margin: 50px auto;
    text-align: center;
    padding: 50px 0px;
    border-radius: 5px;
}
input {
    border: none;
    border-bottom: 1px solid #dbdbdb;
}

#newBtn:hover {
    box-shadow: 15px 10px 5px rgba(0, 0, 0, 0.4);
    transition: 1s;
}