nav {
    background-color: rgb(0, 0, 37);
    border-bottom: 1px solid rgb(84, 0, 140);
}
h4 {
    color: #dbdbdb;
    padding: 10px;
}
ul {
    margin: auto;
}

.link-menu {
    padding: 0px 20px;
    text-decoration: none;
    color: white;
    font-family: sans-serif;
}
.link-menu:hover {
    color: rgb(66, 34, 87);
    transition: 1s;
    font-size: 15pt;
}
body {
    background-image: linear-gradient(to right, rgb(0, 0, 212), black);
}

#carrosel {
    width: 700px;
    height: 450px;
}

.main {
    width: 500px;
    height: 300px;
    margin-left: 150px;
    margin-top: 60px;
}

#logo {
    position: relative;
    top: -3px;
    margin-left: 20px;
}

.legend {
    position: absolute;
    right: 10px;
    top: 150px;
    width: 380px;
    font-family: sans-serif;
}

.falaCeo {
    font-style: italic;
    color: white;
}

.fontes {
    color: #dbdbdb;
}

.numerada {
    color: white;
}

.rodape {
    margin-top: 200px;
    text-align: center;
    color: white;
    border-top: 1px solid rgb(66, 34, 87);
}